:root {
    /* Variables */
    /* Main */
    --black: #1d1c1b;
    --grey: #827E74;
    --red: #c64935;
    --yellow: #FFE144;
    --white: #F1EEE3;
    
    /* Fonts */
    --title-font: 'Permanent Marker', cursive;
    --section-font: 'Teko', sans-serif;
    --normal-text-font: 'Lato', sans-serif;
}

/*main*/

main {
    background-color: var(--white);
}

main .popup {
    display: none;
}

main article {
    padding: 50px 60px;
    min-height: calc(70vh - 20px);
}

/* form */

.form {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
    justify-content: center;
}

.form div {
    width: calc((100vw - 50px) / 3 - 50px); 
}

.form h3 {
    font-size: 50px;
    line-height: 3rem;
}

.form label {
    font-size: 25px;
    color: var(--grey);
}

.form input {
    display: flex;
    justify-content: center;
    min-width: 280px;
    height: 25px;
    margin: 0;
    padding: 1rem;
    font-size: 18px;
}

/*info-list*/

.info-list {
    padding: 5px;
}

/*contact info*/

.contact-info {
    padding: 2rem;
}

/*payment info*/

.payment-info {
    padding: 2rem;
}

/*package*/

.package {
    padding: 2rem;
    height: 10rem;
    width: 100px;
}

.package select {
    margin-top: 2rem;
    min-width: 280px;
    height: 35px;
    font-size: 18px;
}

/*submit button*/

.submit {
    display: flex;
    padding-top: 1.5rem;
    padding-left: 51rem;
    justify-content: flex-end;
}

.submit div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    outline: none;
    background-color: var(--red);
    font-size: 20px;
    font-family: var(--normal-text-font);
    border: solid 2px var(--black);
    animation: unsheen .5s;
    animation-fill-mode: forwards;
}

.submit div:hover {
    animation: sheen .5s;
    animation-fill-mode: forwards;
}

@keyframes unsheen {
    from {
        background: linear-gradient(130deg, var(--red), var(--white), var(--red) 20%)
    }
    to {
        background-color: var(--red);
    }
}

@keyframes sheen {
    to {
        background: linear-gradient(130deg, var(--red), var(--white), var(--red) 20%)
    }
}